name: Windows Export Templates

on:
  workflow_call:
  workflow_dispatch:

env:
  SCONS_FLAGS: >-
    dev_mode=yes
    module_text_server_fb_enabled=yes
    debug_symbols=no
    production=yes
    use_lto=yes
    use_static_cpp=yes
    optimize=size
    disable_3d=yes
    disable_navigation_3d=yes
    disable_physics_3d=yes
    disable_xr=yes
    module_godot_physics_3d_enabled=no
    module_jolt_physics_enabled=no
    module_msdfgen_enabled=no
    module_openxr_enabled=no
    disabled_classes_file=.github/workflows/disabled_classes.txt
    "angle_libs=${{ github.workspace }}/"
    "accesskit_sdk_path=${{ github.workspace }}/accesskit-c-0.17.0/"
  SCONS_CACHE_MSVC_CONFIG: true
  PYTHONIOENCODING: utf8

jobs:
  build-windows-template:
    runs-on: windows-latest
    name: Windows Export Template (MSVC)
    timeout-minutes: 120
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Restore Godot build cache
        uses: ./.github/actions/godot-cache-restore
        with:
          cache-name: windows-template
        continue-on-error: true

      - name: Setup Python and SCons
        uses: ./.github/actions/godot-deps

      - name: Download Direct3D 12 SDK components
        shell: sh
        id: d3d12-sdk
        run: |
          if python ./misc/scripts/install_d3d12_sdk_windows.py; then
            echo "D3D12_ENABLED=yes" >> "$GITHUB_OUTPUT"
          else
            echo "::warning::Windows: Direct3D 12 SDK installation failed, building without Direct3D 12 support."
            echo "D3D12_ENABLED=no" >> "$GITHUB_OUTPUT"
          fi
        continue-on-error: true

      - name: Download pre-built ANGLE static libraries
        uses: dsaltares/fetch-gh-release-asset@1.1.2
        with:
          repo: godotengine/godot-angle-static
          version: tags/chromium/6601.2
          file: godot-angle-static-x86_64-msvc-release.zip
          target: angle/angle.zip

      - name: Extract ANGLE
        run: Expand-Archive -Force angle/angle.zip ${{ github.workspace }}/

      - name: Download pre-built AccessKit
        uses: dsaltares/fetch-gh-release-asset@1.1.2
        with:
          repo: AccessKit/accesskit-c
          version: tags/0.17.0
          file: accesskit-c-0.17.0.zip
          target: accesskit-c-0.17.0/accesskit_c.zip

      - name: Extract AccessKit
        run: unzip -o accesskit-c-0.17.0/accesskit_c.zip

      - name: Compilation
        uses: ./.github/actions/godot-build
        with:
          scons-flags: ${{ env.SCONS_FLAGS }} ${{ matrix.scons-flags }} d3d12=${{ steps.d3d12-sdk.outputs.D3D12_ENABLED }}
          platform: windows
          target: template_release

      - name: Save Godot build cache
        uses: ./.github/actions/godot-cache-save
        with:
          cache-name: windows-template
        continue-on-error: true

      - name: Prepare artifact
        run: |
          Remove-Item bin/* -Include *.exp,*.lib,*.pdb -Force

      - name: Upload artifact
        uses: ./.github/actions/upload-artifact
        with:
          name: windows-template
